@tailwind base;
@tailwind components;
@tailwind utilities;



.css-1nrlq1o-MuiFormControl-root{
    width: 100%;
}
.css-1w4vsez-MuiFormControl-root {
    margin: 0 !important;
}
.css-66dh3a-MuiInputBase-input-MuiInput-input{
    border: 1px solid black;
    padding: 10px;
}